<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->
<section class="innerbanner" id="serviceBanner">
            <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
                <div class="innerbanner-box">
                    <div class="service-banner-box">

                        <div class="service-banner-content" style="text-align: center">
                            <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s">FSVP Template</div>
                            <h1 class="innerbanner-text heading1 wow fadeInRight" data-wow-delay="1s" style="max-width: 650px">Unfortunately, there is no such thing as an FSVP Template.</h1>
                        </div>
                    </div>

                </div>
            </div>
</section>


<div class="g-container">
  <div class="service-row">
      <div class="service-content wow fadeInUp" data-wow-delay=".3s">
          <br>
          <br>
          <h1 class="wow fadeInUp" >An FSVP template or example doesn't exist.</h1>
          <p>This is because every FSVP plan will be unique to your specific product and its manufacturing environment, as well as your country of origin. An FSVP plan has no set format, it has to be approved by a Preventative Controls Qualified Individual (PCQI) to be valid. This means that you have to provide the correct documentation for a PCQI to assess before it will be accepted by the FDA. Essentially the FSVP plan exists to show that you are fully complaint with FDA requirements, and is backed up by the approval of a food safety expert.</p>

          <p>Whilst there are some similarities between FSVP plans, there is no definitive format. Each FSVP plan must be designed for your situation otherwise it will fall foul of FDA sanctions at some point.</p>

           <h1 class="wow fadeInUp" >What documents do you need for an FSVP assessment?</h1>
<p> Most FSVP plans must show substantial evidence that the products manufacturer or supplier has the appropriate documentation in place to fully justify that the product has been produced to the same quality of that which is expected in the United States. Typically you will require the following documents :</p>
          <p><strong>Food Safety Certification</strong> - Specifically GFSI certification, if you have any of the highest standard certification bodies such as BRC, SQF and FSSC 22000 then you are in a good starting position. In order to get these certifications in the first place you must have some form of food safety procedures in place.</p>

        <p><strong>Product Specification </strong>- In order to carry out an FSVP assessment you will need to have fully detailed specifications for all products being assessed, they must give details on all nutritional values, all additives and any allergens (potential or present). This allows the PCQI assessor to ensure that the products being imported to the USA are entirely safe and legal for the population to consume.</p>
             <p><strong>Food Safety Plan</strong> - A full food safety plan or HACCP plan needs to be in place and verified as 'in use' and effective. The plan will, ideally, be in the Preventive Controls format, although a standard HACCP plan is allowable. The food safety plan needs to then be assessed by a PCQI assessor to ensure that the products being imported to the USA are entirely safe and legally compliance with FDA Final Rule on FSVP.</p>

          <p><strong>Allergen Compliance</strong> - Allergens in the USA may be different from those listed in the Country of origin. Any  US listed allergens need to be checked by a PCQI assessor to ensure that the products being imported to the USA are entirely safe and legally compliance with FDA Final Rule on FSVP.</p>

          <p><strong>Additive Compliance</strong> - Additives for food products in the USA need to be checked as there are many that are banned and their presence in a product being sold in the USA would be illegal. Any US additives need to be checked by a PCQI assessor to ensure that the products being imported are in compliance with FDA rules on additives.</p>
          <p></p>

             <div class="profile-row"><a href="#" class="gbtn auth-btn br4 ttu">
             Get Started Now
                 </a></div>

          <br>
          <br>
          <br>

      </div>
      <div class="service-form wow fadeInUp" data-wow-delay=".4s">
        <br>
        <app-common-contact-us></app-common-contact-us>
      </div>
  </div>
</div>
