<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->
<section class="innerbanner" id="contactBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box wow flipInX" data-wow-delay=".5s">
          <h1 class="innerbanner-text heading1">Contact Us</h1>
      </div>
  </div>
</section>

<section class="g-section contact-section">
  <div class="g-container">
      <div class="auth-form">
          <h1 class="auth-form-title heading1 wow fadeInUp" data-wow-delay=".3s">Get In Touch</h1>
          <div class="auth-desc">Please use the form below to contact us to ask for more information or
              request a quotation.</div>
          <div class="auth-form-fields wow fadeInUp" data-wow-delay=".4s">
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Your Name</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>

              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Email</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Phone Number</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>

              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Company Name</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <select class="auth-field-control">
                              <option></option>
                              <option>India</option>
                          </select>
                          <label class="auth-field-label transition">Country</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>

              <div class="checkbox-selection auth-form-row">
                  <div class="auth-control">
                      <div class="checlbox-title"> Services Required </div>
                      <div class="checkbox-box">
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="01">
                              <label for="01" class="checkbox-label">FDA food facility registration
                                  service</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="02">
                              <label for="02" class="checkbox-label">Foreign Supplier Verification Program
                                  (FSVP) Assessment</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="03">
                              <label for="03" class="checkbox-label">FSVP Agent service (per shipment)</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="04">
                              <label for="04" class="checkbox-label">US Legal Label Review </label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="05">
                              <label for="05" class="checkbox-label">FDA detention / liaison service</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="note-sec">
                          <b>NOTE:</b> Please select below if you are interested in our US Import Agent Market Entry
                          Plan (where we help spread the cost of compliance activities).
                      </div>
                  </div>
              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <textarea class="auth-field-control"></textarea>
                          <label class="auth-field-label transition">Additional Message</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="note-sec">
                          <b>NOTE:</b> After submission, please check your email to opt in to provide permission for
                          us to contact you. This can be updated at any later time in any of our email
                          communications with you.
                      </div>
                      <div class="privacy-link">
                          We respect your privacy - see our <a href="#">privacy policy</a> here.
                      </div>
                  </div>
              </div>

              <div class="form-btn-row">
                  <button type="submit" class="auth-submit gbtn auth-btn br4 ttu">
                      <span class="auth-submit-text ">Send Query</span>
                  </button>
              </div>


          </div>
      </div>
  </div>
</section>
