<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->
<section class="innerbanner" id="teamBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box wow flipInX" data-wow-delay=".5s">
          <h1 class="innerbanner-text heading1">Our Expert PCQI Management Team</h1>
      </div>
  </div>
</section>

<section class="g-section team-section">
  <div class="g-container">
      <h1 class="team-heading heading1 wow fadeInLeft" data-wow-delay=".3s">Management Team</h1>
      <div class="team-desc wow fadeInLeft" data-wow-delay=".5s">
          US Import Agent, Inc. is led by an internationally experienced team of PCQI (Preventive Controls
          Qualified Individuals) and FDA food safety compliance legal experts, each with decades of
          experience.
      </div>

      <div class="team-row">
          <div class="team-cols">
              <div class="team-box">
                  <div class="team-img wow fadeInUp" data-wow-delay=".2s"
                      style="background: url(./assets/images/team1.png) no-repeat center center / cover;">
                  </div>
                  <div class="team-name wow fadeInUp" data-wow-delay=".4s">Leonardo Natale</div>
                  <div class="team-post wow fadeInUp" data-wow-delay=".6s">Chief Executive Officer</div>
                  <div class="team-desc wow fadeInUp" data-wow-delay=".8s">
                      An experienced FSVP Agent expert with PCQI and FSVP certification, a native Italian, and
                      importer of food products into the USA, Leonardo Natale is US Import Agent's Chief
                      Executive Officer. He has helped dozens of food businesses successfully comply with US
                      FDA requirements and is responsible for ensuring that all clients receive the US based
                      representation required to be in compliance with FDA rules and regulations. <a
                          href="#">See profile
                          here</a>.
                  </div>
              </div>
          </div>

          <div class="team-cols">
              <div class="team-box">
                  <div class="team-img wow fadeInUp" data-wow-delay=".2s"
                      style="background: url(./assets/images/team2.png) no-repeat center center / cover;">
                  </div>
                  <div class="team-name wow fadeInUp" data-wow-delay=".4s">James Flynn</div>
                  <div class="team-post wow fadeInUp" data-wow-delay=".6s">Chief Technical Officer</div>
                  <div class="team-desc wow fadeInUp" data-wow-delay=".8s">
                      Our Chief Technical Officer, James Flynn has 25 years’ HACCP, food safety consultancy
                      and software development experience. He is the creator of the 3iVerify solution and has
                      strong innovation and development experience, in addition to being a qualified PCQI,
                      James runs the technology behind US Import Agent's systems. His goal is to ensure that
                      clients receive a fast and efficient service and that all records are available for FDA
                      in the event of an inspection. <a href="#">See profile
                          here</a>.
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
