<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">Juice HACCP</div>
              </div>
          </div>

      </div>
  </div>
</section>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Juice HACCP Plan Review</h1>
              <img src="./assets/images/Juice_HACCP.jpg">
              <h2>Juice HACCP and the FDA</h2>
              <p>The Food and Drug Administration (FDA) has regulations to ensure the safe and sanitary processing of fruit and vegetable juices. The regulations mandate the application of Hazard Analysis and Critical Control Point (HACCP) principles to the processing of these foods. HACCP is a preventive system of hazard control.</p>

              <p>The FDA took this action because there have been a number of food hazards associated with juice products and because a system of preventive control measures is the most effective and efficient way to ensure that these products are safe.</p>

              <p>For the full <a href="https://www.fda.gov/food/hazard-analysis-critical-control-point-haccp/juice-haccp" target="_blank">rule regarding Juice HACCP click here.</a>Don't let your juice product be detained or seized at the point of entry. We can help.</p>
              <h2>Why Choose US Import Agent, Inc.?</h2>

              <p>Unlike other FSVP Agent services, US Import Agent is an affordable, state of the art solution that brings together cloud technology together with a <b>global network of qualified, vetted, multi-lingual food safety experts</b> to ensure that you and your suppliers, and the food products supplied, are <b>approved for import  of food products to the USA.</b> We will be your US Agent for FSVP purposes.</p>

              <p>We have vast experience in all aspects of HACCP. to ensure FDA compliance and the safe journey of your Seafood produce through US Customs, We can review and assess your Juice HACCP Plan rapidly and at low cost.</p>
              <br>
              <strong>Contact us below for a quotation, we think you will be pleasantly surprised by how affordable and comprehensive our service is.</strong>
              <br>
              <br>
              <button><a class="zpbutton-wrapper zpbutton zpbutton-type-warning zpbutton-size-md zpbutton-style-none " href="/contact"><span class="zpbutton-content">Contact us Today for a Quote</span>
              </a></button>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
