<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">Amazon Food Sellers</div>
              </div>
          </div>

      </div>
  </div>
</section>
<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
            <img src="./assets/images/amazon_fsvp.png">
              <br>
              <br>
              <h5 class="wow fadeInUp" >If you are an Amazon seller which imports food/beverage products or dietary supplements to the USA, then you need an FSVP Agent.</h5>
              <p>The FDA are now cracking down on the Foreign Supplier Verification Program after numerous health scares associated with imported produce. If you are found to be lacking an appropriate FSVP plan in line with the FDA's newest regulation <b>FSMA</b> Preventive Controls for Human and Animal Food regulations and the FSMA Produce Safety Rule,<b>your product could be banned from entering the US</b>, a potentially catastrophic consequence for your business. <b>Amazon offers little to no advice to their sellers on this matter, but we can help.</b></p>

              <p>The introduction of the Food Safety Modernization Act (FSMA) has turned food safety compliance requirements on its head for Amazon food sellers.</p>

              <p>As stated by the FDA : </p>
              <br>

              <strong>"All FDA-regulated products imported into the United States are required to meet the same laws and regulations as domestic goods. Imported foods must be pure, wholesome, safe to eat and produced under sanitary conditions and must contain informative and truthful labelling in English."</strong>

              <p><b>We can help you with:</b></p>
              <ul>
                <li>FDA Foreign Food Facility Registration</li>
                <li>Release of detained products</li>
                <li>FSVP Assessment and Guidance</li>
                <li>FSMA Agent Services for Nonresident Importers and Amazon Sellers</li>
                <li>US Label Review and Design</li>
                <li>Document Translation</li>
                <li>Importer of Record Services</li>
                <li>Prior Notice and FDA Filings</li>
              </ul>

              <p>We offer uniquely tailored services for Amazon food sellers, at a highly competitive price. Don't let FDA Regulations hold your business back from the largest food & beverage market in the world. Contact us today to find out how we can help, or if you want to learn more about FSVP check out our other services.</p>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>

          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

            <app-common-contact-us></app-common-contact-us></div>
      </div>
  </div>
</section>
<!--End Blog Section-->
