<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">FDA Import Alert Removal Service</div>
              </div>
          </div>

      </div>
  </div>
</section>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >FDA Import Alert Removal Service</h1>
              <h6>If you find your food or dietary supplement products on the Red List of an FDA Import Alert then we can help have this removed. </h6>

              <h6>If you are on the Red List, of an Import Alert, FDA will automatically 'Detain Without Physical Examination' (DWPE) meaning that if you send this product to the US then it will be detained and may be destroyed.</h6>

              <h6>We can help you REMOVE you from the Red List of Import Alerts and open up the opportunity for you to sell your products in the US market again. We also help with FDA detention release.</h6>
              <a class="zpbutton-wrapper zpbutton zpbutton-type-primary zpbutton-size-md zpbutton-style-none " href="/fda-import-alert-removal-service"><span class="zpbutton-content">Learn More on How We Can Help Remove FDA Import Alerts</span>
                <span class="zpbutton-content">Learn More on How We Can Help Remove FDA Import Alerts</span>
              </a>
              <img src="/assets/images/ProductLabelRejected.png">
              <br>
              <br>
              <h4> If you are on the Red List of an FDA Import Alert then your food or dietary supplement product will be detained by FDA. </h4>

              <p>The FDA can, and regularly do, add companies and products to the Red List of Import Alerts for violations of Food Drug and Cosmetics, FSMA and FSVP rules. These are regularly used by FDA, and Customs Officials, to identify food products , which have  been <b>banned from entering the US for food safety law and compliance violations.</b> This can potentially have catastrophic consequences for your business and can seem like a 'game over'' moment, but it is not. <b>We can help.</b></p>
              <br>
              <h6><b><em>You can be legally REMOVED from the Red List of an Import Alert if you know what to do.</em></b></h6>
              <p>Our team of former FDA Compliance Consultants know how to legally remove Red List Import Alerts against your company's products. We help you make the necessary corrective actions and start trading again.</p>
              <br>
              <br>
              <h6><b>Here is what we do: </b></h6>
              <ul><b>
                <li><b>Identify the issue(s)</b></li>
                <li><b>Advise how to correct it</b></li>
                <li><b>Assist with implementation of corrective actions</b></li>
                <li><b>Document and verify the corrective actions</b></li>
                <li><b>Petition and communicate with the FDA on your behalf</b></li>
                <li><b>Have the Import Alert removed</b></li>
              </b>
              </ul>
              <p>We offer a cost effective service to help remove you from the FDA Red List Import Alerts list and also with detention issues. Don't let FDA Regulations hold your business back from the largest food & beverage market in the world.</p>
              <p>Contact us today to find out how we can help. We will arrange a quick call to take you through the process and explain timings and costs.</p>
              <br>

              <button><a class="zpbutton-wrapper zpbutton zpbutton-type-primary zpbutton-size-md zpbutton-style-none " href="/contact" title="Arrange a call today!"><span class="zpbutton-content">Arrange a Quick Call Today</span></a></button>
              <br>
              <br>
              <h6>Cost Effective</h6>
              <p>We offer the most competitive prices on the market whilst maintaining the highest standards. We are food safety experts who know FDA, not lawyers.</p>
              <br>
              <h6>Professional & Quick Service</h6>
              <p>All of our services are carried out by former FDA Inspectors and Preventive Control Qualified Individuals (PCQI's) who will ensure full compliance.</p>
              <br>
              <h6>Online Service</h6>
              <p>Our bespoke and unique software allows us to complete FDA services, quickly, reliably, at low cost and with full traceability.</p>
              <br>

            <app-common-how-we-can-help></app-common-how-we-can-help>
            </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>
        </div>
    </div>
</section>
<!--End Blog Section-->
