<header class="g-header transition">
  <div class="g-container-flex g-header-row g-items-center relative">
      <a href="/" class="g-logo"><img class="transition" src="./assets/images/logo.png" alt="logo" /></a>
      <div class="g-nav">
          <div class="mobile-nav-header">
              <img class="transition" src="./assets/images/logo.png" alt="logo" />
              <span class="mobileClose">X Close</span>
          </div>
          <ul class="g-nav-list">
              <li class="g-nav-list-item">
                  <a href="/" class="g-nav-list-item-link">Home</a>
              </li>
              <li class="g-nav-list-item">
                  <a href="/services" class="g-nav-list-item-link">Services<i class="fa fa-angle-down"></i></a>
                  <div class="g-sunmenu-container transition">

                      <div class="gmegamenu">
                          <div class="gmegamenu-image">
                              <img src="./assets/images/about.png" />
                          </div>
                          <div class="gmegamenu-nav">
                              <div class="gmegamenu-title">Our Services</div>
                              <ul class="g-submenu">
                                  <li>
                                      <a href="/fsvp-agent-service">FSVP Agent Service </a>
                                  </li>

                                  <li>
                                      <a href="/fsvp-amazon">FSVP for Amazon Sellers </a>
                                  </li>

                                  <li>
                                      <a href="/fda-food-facility-registration">FDA Food Facility Registration </a>
                                  </li>

                                  <li>
                                      <a href="/us-label-review">US Label Review </a>
                                  </li>

                                  <li>
                                      <a href="/fda-import-alert-removal-service">FDA Import Alert Removal Service </a>
                                  </li>


                              </ul>
                          </div>
                          <div class="gmegamenu-nav">
                              <div class="gmegamenu-title">Additional Services </div>
                              <ul class="g-submenu">

                                  <li>
                                      <a href="/seafood-haccp">Seafood HACCP Review </a>
                                  </li>

                                  <li>
                                      <a href="/us-importing-market-entry-plan">US Importing Market Entry Plan </a>
                                  </li>
                                  <li>
                                      <a href="/low-acid-canned-foods">LACF HACCP Review </a>
                                  </li>
                                  <li>
                                      <a href="/tradeshows">Tradeshow FSVP </a>
                                  </li>
                                  <li>
                                      <a href="/foreign-exporter-services">Foreign Exporters </a>
                                  </li>

                                  <li>
                                      <a href="/juice-haccp">Juices HACCP Review </a>
                                  </li>


                              </ul>
                          </div>
                      </div>

                  </div>
              </li>
              <li class="g-nav-list-item">
                  <a href="/pcqi-team" class="g-nav-list-item-link">PCQI Team </a>

              </li>
              <li class="g-nav-list-item">
                  <a href="/blogs" class="g-nav-list-item-link">FSVP Blog </a>
              </li>
              <li class="g-nav-list-item">
                  <a href="/call-for-food-safety-professionals" class="g-nav-list-item-link">Join Us </a>
              </li>
              <li class="g-nav-list-item">
                  <a href="/contact" class="g-nav-list-item-link">Contact Us</a>
              </li>

              <li class="g-nav-list-item">
                  <a href="/fsvp-help" class="g-nav-list-item-link"> FAQ </a>

              </li>


          </ul>
      </div>
      <div class="profile-row">
          <a href="#" class="gbtn auth-btn br4 ttu">
              Get a free quote
          </a>
      </div>
      <div class="mobileMenu"><i class="fa fa-bars"></i></div>
  </div>
</header>
