  <div class="contact-title">Enter Your Details Below</div>
    <div class="auth-form-fields" >
      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">First Name</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">Last Name</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">Company</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">Job Title</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">Email Address</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <input type="text" class="auth-field-control" />
                  <label class="auth-field-label transition">Telephone Number</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>

      </div>

      <div class="auth-form-row">

          <div class="auth-control">
              <div class="auth-form-field">
                  <select class="auth-field-control">
                      <option></option>
                      <option>India</option>
                  </select>
                  <label class="auth-field-label transition">Country</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>
      </div>

      <div class="auth-form-row">

          <div class="auth-control">
              <div class="auth-form-field">
                  <select class="auth-field-control">
                      <option></option>
                      <option>India</option>
                  </select>
                  <label class="auth-field-label transition">Service Required</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>
      </div>

      <div class="checkbox-selection auth-form-row">
          <div class="auth-control">

              <div class="checkbox-box">
                  <div class="checkbox-row">
                      <input type="checkbox" class="checkbox" id="01">
                      <label for="01" class="checkbox-label">Us Import Agent Market Plan</label>
                  </div>

              </div>
          </div>
      </div>
      <div class="auth-form-row">
          <div class="auth-control">
              <div class="note-sec">
                  <b>NOTE:</b> Please select below if you are interested in our US Import Agent Market
                  Entry
                  Plan (where we help spread the cost of compliance activities).
              </div>
          </div>
      </div>
      <div class="auth-form-row">
          <div class="auth-control">
              <div class="auth-form-field">
                  <textarea class="auth-field-control"></textarea>
                  <label class="auth-field-label transition">Additional Message</label>
              </div>
              <div class="auth-form-field-error" style="display: none;">Required field</div>
          </div>
      </div>
      <div class="auth-form-row">
          <div class="auth-control">
              <div class="note-sec">
                  <b>NOTE:</b> After submission, please check your email to opt in to provide
                  permission for
                  us to contact you. This can be updated at any later time in any of our email
                  communications with you.
              </div>
              <div class="privacy-link">
                  We respect your privacy - see our <a href="#">privacy policy</a> here.
              </div>
          </div>
      </div>

      <div class="form-btn-row">
          <button type="submit" class="auth-submit gbtn auth-btn br4 ttu">
              <span class="auth-submit-text ">Send</span>
          </button>
      </div>


    </div>
