<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-image wow swing" data-wow-iteration="4" data-wow-delay=".8s"
                  style="background: url(./assets/images/ser01.png) no-repeat center center /  cover;"></div>
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s">FSVP Agent
                      Services</div>
                  <h1 class="innerbanner-text heading1 wow fadeInRight" data-wow-delay="1s">Easy, Low Cost,
                      Professional</h1>
              </div>
          </div>

      </div>
  </div>
</section>

<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Why You Need an FSVP Import Agent</h1>
              <p>If you are a food producer, processor or packer who exports food products to the USA and you
                  do not have a US based customer or 'consignee' who is willing to take legal responsibility
                  for FSVP (FDA's Foreign Supplier verification Program Final Rule) then you need the services
                  of an FSVP Import Agent.</p>

              <p>An FSVP Agent is required because there is a legal requirement to have a US based entity who
                  will assess the food safety compliance of foreign suppliers and the foods they export to the
                  United States.</p>

              <p>The purpose of this rule is to ensure that foods imported into the USA meet the same legal
                  food safety standards that US food producers and processors are expected to comply with.</p>

              <p>In this situation, it is likely to be more cost effective to use the services of US Import
                  Agent than it is to establish, and staff, an office in the USA to take care of this legal
                  requirement.</p>

              <p>US Import Agent is ideally placed to help with this requirement due to our extensive
                  experience in FDA compliance, our network of multi-lingual PCQI's (Preventive Control
                  Qualified Individuals) and our unique cloud technology solution, 3iVerify. We can help you
                  with all aspects of FSMA, FSVP and FDA compliance.</p>

                  <img src="./assets/images/blog.PNG" />

              <p>3iVerify's cloud compliance technology helps us carry out and document food safety
                  assessments using an easy and efficient online 'cloud' framework that helps keep compliance
                  costs low and the process efficient. Our unique software allows us to make the process of
                  compliance stress free and easy for you.</p>

              <h2>
                  We offer every service you need to be compliant and legal for the US Market, at a very
                  reasonable cost, including :
              </h2>
              <ul>
                  <li>FDA Registration</li>
                  <li>FSVP Assessment / Plans</li>
                  <li>US Label Reviews & Designs</li>
                  <li>FSVP Import Agent Services</li>
                  <li>Tariff & HTS Code Advice</li>
                  <li>Prior Notice and Importer of Record Services</li>
              </ul>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">
            <app-common-contact-us></app-common-contact-us></div>
      </div>
  </div>
</section>
