<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->


<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box wow flipInX" >



                  <h1 class="innerbanner-text heading1" data-wow-delay="1s">US Label Review Services</h1>



      </div>
  </div>
</section>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Why You Need a US Complaint Label</h1>

              <p>Food & Beverage labelling within the US is receiving an overhaul by the FDA & US Government based on advancements and revelations within the nutritional science sector. By 2020 (2021 for small businesses) your label MUST be compliant with the FDA's new standards in order to be sold within the US market.</p>

              <h2>The FDA plans to work cooperatively with manufacturers to meet the new Nutrition Facts label requirements. Specifically, the compliance deadlines are as follows:</h2>

               <ul>
                  <li>Manufacturers with $10 million or more in annual sales must switch to the new label by January 1, 2020;</li>
                  <li>Manufacturers with less than $10 million in annual food sales have until January 1, 2021 to comply.</li>
                  <li>Manufacturers of most single-ingredient sugars such as honey and maple syrup and certain cranberry products have until July 1, 2021 to make the changes.</li>
                  <li>Manufacturers of certain flavored dried cranberries have until July 1, 2020 to make the changes.</li>


              </ul>

              <p>At US Import Agent, we already operate to this standard, ensuring that your label is complaint straight away for export to the US, whilst also ensuring it is compliant for the years to come.

</p>
              <p>Once we have received basic product specifications on Nutritional, Allergen and Additives information, our team will work diligently to ensure that you are in full compliance and export-ready.</p>
              <p>We can review, assess and provide guidance on your label to ensure the values, percentages and formatting are all fully compliant. We will gladly liaise with your Graphics Designer, to ensure the label is not only compliant, but still looks marketable and attractive.</p>
                 <h2>       The Differences  </h2>

        <img src="../assets/images/difference.png" />


              <p>The iconic design remains largely the same, however, the changes include increasing the type size for “Calories,” “servings per container,” and the “Serving size” declaration, and bolding the number of calories and the “Serving size” declaration to highlight this information.

</p>
              <p>This newly designed label also aims to follow the guidelines of nutritional scientists, as such “Added sugars,”  are in grams and as percent Daily Value, will be included on the label.</p>
<br>
              <p>Daily values for nutrients like sodium, dietary fibre and vitamin D are being updated based on newer scientific evidence from the Institute of Medicine and other reports such as the 2015 Dietary Guidelines Advisory Committee Report. </p>



          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">
              <app-common-contact-us></app-common-contact-us>>
          </div>
      </div>
  </div>
</section>
<!--End Blog Section-->
