<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">US TRADESHOWS</div>
              </div>
          </div>

      </div>
  </div>
</section>
<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >US Trade-show Services</h1>
              <img src="./assets/images/tradeshow.jpg">
              <h2>Why You Need a US Import Agent for Tradeshows</h2>

              <p>Before exporting your product to the US, its always best to test the water for demand and find some customers who want to buy or distribute your product. Trade-shows play a vital part in introducing Food & Beverage products to the US market and gauging popularity. At US Import Agent, we understand this. That is why we offer specifically tailored services for Foreign Food Facilities planning to attend Trade-shows within the USA.</p>
              <br>
              <b><em>Contrary to popular opinion, Food & Beverages brought into the US for trade show purposes are NOT exempt from FDA regulations because it is intended for distribution to the public. FDA Compliance can be complicated, and that is why you need expert advice.</em></b>
              <p>If you bring food into the United States for the purposes of a trade show without the proper FSVP (Foreign Supplier Verification Program activities) completed, then you are breaking US Law your future imports could be banned at the port of entry into the US. This contradicts the reason for doing a trade show and jeopardises your investment.</p>

              <p>The FDA are well known for attending the trade shows and going around exhibitors and asking them for their FSVP credentials and paperwork for bringing food into the country, <b>Don't jeopardise your future, let us help.</b></p>

              <h2>Why Choose US Import Agent, Inc.?</h2>
              <p>Unlike other FSVP Agent services, US Import Agent is an affordable, state of the art solution that brings together cloud technology together with a <b>global network of qualified, vetted, multi-lingual food safety experts</b> to ensure that you and your suppliers, and the food products supplied, are <b>approved for import  of food products to the USA.</b> We will be your US Agent for FSVP purposes.</p>

              <p>We can ensure that your product is legally compliant for the trade show at a discounted price. Allowing you to build a market for your product within the US market and ensuring the security of your future exports. We will take care of the following on your behalf:</p>
              <ol>
                <br>
                <li>Each food manufacture of the food products needs to be registered with FDA as a Foreign Food Facility – <b>We can arrange this quickly and at low cost for you.</b></li>
                <br>
                <li>You need to have a US based consignee or agent to be legally responsible for the food you bring into the USA – <b>We can help you with this activity</b></li>
                <br>
                <li>The supplier and the food products need to be assessed for food safety to ensure that they meet applicable US food safety laws – <b>We can carry out a discounted FSVP Trade Show Assessment for each supplier and food product category.</b></li>
              </ol>
              <br>
              <strong>Contact us below for a quotation, we think you will be pleasantly surprised by how affordable and comprehensive our service is.</strong>
              <br>
              <br>
              <button><a class="zpbutton-wrapper zpbutton zpbutton-type-warning zpbutton-size-md zpbutton-style-none " href="/contact"><span class="zpbutton-content">Contact us Today for a Quote</span>
              </a></button>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
