<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>
</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">Low Acid Canned Foods (LACF) HACCP Plan Review</div>
              </div>
          </div>

      </div>
  </div>
</section>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Low Acid Canned Foods (LACF) HACCP Plan Review</h1>
              <img src="./assets/images/LACF_HACCP.jpg">
              <h2>LACF HACCP and the FDA</h2>
              <p>Manufacturers of LACF are required to comply with the new training requirements in 21 CFR 117.4, which requires that individuals engaged in manufacturing, processing, packing, or holding food (including temporary and seasonal personnel) and the supervisors who oversee their activities:</p>
              <br>
              <ol>
                <li>be a <b>qualified individual</b> as defined in 21 CFR 117.3, i.e., have the combination of education, training, and/or experience necessary to manufacture, process, pack, or hold clean and safe food as appropriate to the individual’s assigned duties (21 CFR 117.4(b)(1)); and </li>
                <br>
                <li> receive training in the principles of food hygiene and food safety, including the importance of employee health and personal hygiene, as appropriate to the food, the facility, and the individual’s assigned duties (21 CFR 117.4(b)(2)). Manufacturers of LACF must establish and maintain records that document training required in the principles of food hygiene and food safety in accordance with requirements in 21 CFR part 117 subpart F (21 CFR 117.4(d)).</li>
              </ol>
              <p>In addition to the above requirements, the LACF regulation (21 CFR 113.10) contains a training requirement applicable to a person providing operating supervision under the LACF regulation. </p>
              <br>
              <h2>Why Choose US Import Agent, Inc.?</h2>
              <p>Unlike other FSVP Agent services, US Import Agent is an affordable, state of the art solution that brings together cloud technology together with a <b>global network of qualified, vetted, multi-lingual food safety experts</b> to ensure that you and your suppliers, and the food products supplied, are <b>approved for import  of food products to the USA.</b> We will be your US Agent for FSVP purposes.</p>
              <p>We have vast experience in all aspects of HACCP. to ensure FDA compliance and the safe journey of your Seafood produce through US Customs, We can review and assess your LACF HACCP Plan.</p>
              <br>
              <strong>Contact us below for a quotation, we think you will be pleasantly surprised by how affordable and comprehensive our service is.</strong>
              <br>
              <br>
              <button><a class="zpbutton-wrapper zpbutton zpbutton-type-warning zpbutton-size-md zpbutton-style-none " href="/contact"><span class="zpbutton-content">Contact us Today for a Quote</span>
              </a></button>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
