<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

  <section class="innerbanner" id="blogBanner">
      <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
          <div class="innerbanner-box wow flipInX" data-wow-delay=".5s">
              <h1 class="innerbanner-text heading1">Webinar - Everything You Need to Know about FSVP</h1>
          </div>
      </div>
  </section>


  <!--Start Contact-->
  <section class="g-section blog-section">
      <div class="g-container">
          <div class="blog-top-row">
              <div class="blog-top-image wow fadeInLeft" data-wow-delay=".3s">
                  <img src="./assets/images/blog1.PNG" alt="" />
              </div>
              <div class="blog-top-content wow fadeInRight" data-wow-delay=".3s">
                  <div class="blog-time">18.04.20 11:25 AM</div>
                  <a href="#" class="heading1 top-blog-heading">Webinar - Everything You Need to Know about
                      FSVP</a>
                  <p>On March 31, 2020, US Import Agent, Inc. hosted a webinar entitled, “Everything You Need to
                      Know about US Foreign Supplier Verification Program (FSVP).”</p>
                  <div class="authorInfo">
                      <div class="author-name">By James Flynn</div>
                      <div class="author-post">CEO</div>
                  </div>
                  <a href="#" class="readmore">Read More</a>
              </div>
          </div>

          <div class="blog-list">
              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog2.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">On March
                              31, 2020, US Import Agent, Inc.
                              hosted a webinar entitled</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog3.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">In the
                              regulatory tug of war that has been
                              characterized by President Trump</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog2.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">On March
                              31, 2020, US Import Agent, Inc.
                              hosted a webinar entitled</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog3.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">In the
                              regulatory tug of war that has been
                              characterized by President Trump</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog2.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">On March
                              31, 2020, US Import Agent, Inc.
                              hosted a webinar entitled</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

              <div class="blog-list-col">
                  <div class="blog-box">
                      <div class="blog-top-image wow fadeInUp" data-wow-delay=".3s">
                          <img src="./assets/images/blog3.PNG" alt="" />
                      </div>
                      <div class="blog-top-content">
                          <div class="author-row">
                              <div class="authorInfo wow fadeInUp" data-wow-delay=".5s">
                                  <div class="author-name">By James Flynn</div>
                                  <div class="author-post">CEO</div>
                              </div>
                              <div class="blog-time wow fadeInRight" data-wow-delay=".7s">18.04.20 11:25 AM</div>
                          </div>

                          <a href="#" class="heading1 top-blog-heading wow fadeInUp" data-wow-delay=".9s">In the
                              regulatory tug of war that has been
                              characterized by President Trump</a>
                          <p class="wow fadeInUp" data-wow-delay="1s">In the regulatory tug of war that has been
                              characterized by President Trump vowing to
                              roll back much of the FSMA food safety legislation put in place by President Obama,
                              there are several very worrying issues that affect all Americans. The threatened
                              roll-back of FSMA food safety legislation is a potentially deadly development for
                              U.S. consumers as rising cases of food adulteration have clearly demonstrated in
                              recent years.</p>

                          <a href="#" class="readmore wow fadeInUp" data-wow-delay="1.3s">Read More</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!--End Contact-->

