<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">US Import Agent Market Entry Plan</div>
              </div>
          </div>

      </div>
  </div>
</section>
<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp">US Import Agent Market Entry Plan</h1>
              <p>The diagram below describes the FDA compliance process in our business. As you can see, there is a lot of activity involved and most companies need to pay up front for these services. This is expensive and can come as a shock to some small businesses.</p>
              <img src="./assets/images/FSVPAgentServices.png">

              <p>At US Import Agent, we are very aware that the cost of a foreign food company 'becoming FDA compliant' is not trivial, especially for small businesses who wish to exhibit at a trade show, sell on Amazon or those who just want to test the market.</p>

              <p>To deal with this very real business problem, we have designed a package that allows the foreign supplier to ensure that they are compliant in an affordable way by allowing the payment for our services to be bundled and spread over a 12 or 18 month period.</p>

              <p>The core services you will need are:</p>
              <br>
              <ul>
                <li>FDA Registration and renewal</li>
                <li>FSVP Agent Service</li>
                <li>FSVP / Product Safety Assessment</li>
                <li>Prior Notice Shipment Compliance Checks</li>
              </ul>
              <p>The above service package will ensure that your business is FDA compliant and will be able to trade legally in the USA with minimal disruption. We will bundle all the services up into a single package and ask for a deposit, usually around 30-40% and then start working on your compliance activities. The balance of the payment is then paid by a monthly subscription on your credit / debit card for the balance of the fees due over the remainder of the agreed period.</p>
              <p>To arrange a quick and friendly chat about your needs please, fill the form and we will arrange a time to speak with you and then provide you with a proposal.</p>
              <br>
              <br>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
