<footer id="contactus">
  <div class="footer-top">
      <div class="g-container">
          <div class="footer-row">
              <div class="footer-box">
                  <div class="footerLogo">
                      <img src="./assets/images/fo-logo.png" />
                  </div>
              </div>
              <div class="footer-box">
                  <div class="footer-title">Quick Links</div>
                  <div class="footerLinks">
                      <a class="footer-links" href="/">Home</a>
                      <a class="footer-links" href="/call-for-food-safety-professionals">Join Us</a>
                      <a class="footer-links" href="/services">Services</a>
                      <a class="footer-links" href="/fsvp-help">FAQ</a>
                      <a class="footer-links" href="/pcqi-team">PCQI Team</a>
                      <a class="footer-links" href="/contact">Contact Us</a>
                      <a class="footer-links" href="/blogs">FSVP Blog</a>

                  </div>

              </div>
              <div class="footer-box">
                  <div class="footer-title">contact us</div>
                  <div class="address-footer">Englewood
                      New Jersey

                      07631, USA
                  </div>
                  <a class="footer-email footer-links" href="#">
                      <i class="phone-icon fa fa-phone"></i>
                      <span class="phone-text g-flex g-items-center">
                          <span>
                              +44 (0)7598 451892
                          </span>
                          <span class="seprator">|</span>
                          <span>
                              +1 (415) 871-0682
                          </span>
                      </span>
                  </a>
                  <a href="#" class="footer-email footer-links">
                      <i class="phone-icon fa fa-envelope"></i>
                      <span class="phone-text">rf@usimportagent.com</span>
                  </a>
              </div>

              <div class="footer-box">
                  <div class="footer-title">Get In Touch</div>

                  <div class="header-social g-flex g-items-center">
                      <a class="header-sociallink g-mid" href="#" title="FaceBook">
                          <i class="fa fa-facebook-f"></i>
                      </a>
                      <a class="header-sociallink g-mid" href="#" title="Twitter">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a class="header-sociallink g-mid" href="#" title="Google Plus">
                          <i class="fa fa-google-plus"></i>
                      </a>
                      <a class="header-sociallink g-mid" href="#" title="Linkedin">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </div>

              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="g-container-flex g-items-center g-justify-between">
          <div class="copyright">
              &#8202;2021 Global Import Agent . All Rights Reserved
          </div>
          <div class="footer-bottom-link vs-flex vs-items-center">
              <a href="#">Term and Conditions</a>
              <span class="seprator">|</span>
              <a href="#">Privacy Policy</a>
          </div>
      </div>
  </div>
</footer>
