<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box wow flipInX" >



                  <h1 class="innerbanner-text heading1" data-wow-delay="1s">Call For Food Safety Professionals
to Join Our VCM Network</h1>



      </div>
  </div>
</section>

<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Become part of our Global 'VCM' Network  and Earn Extra Cash</h1>
        <img src="./assets/images/joinus-img.png" />
        <h2>        What We Are Looking For:              </h2>

              <p>As part of our growing business requirements, we need Food Safety Professionals who wish to be part of our Virtual Compliance Manager 'VCM' network. A VCM is a food safety professional who can earn extra income by doing one or more of the following tasks on our behalf:</p>
<br>
               <ul>
                  <li>Conduct US Label Reviews on behalf of foreign importers</li>
                  <li>Conduct online food safety assessments using our unique food safety system</li>
                  <li>Help our customer's foreign suppliers based in South Africa improve their food safety systems</li>
                  <li>Write HACCP or Preventive Control Food Safety Plans in line with US FDA FSMA requirements</li>
                  <li>Other 'ad-hoc' food safety requirements</li>

              </ul>

   <h2>      How the 'VCM' Process Works:  </h2>

              <p>A VCM is a flexible food safety professional that we can call upon when required. This may be to carry out an online food safety assessment or to visit a local food company to verify information and check food safety systems and processes in line with the US Food Safety Modernization (FSMA) Foreign Supplier Verification Program or the FDA Seafood HACCP Rule for example. In almost all cases, these requirements are standard and are in line with GFSI Global Food Standards such as BRC, FSSC 22000, etc.</p>
<p> The work required to be completed is carried out online using our cutting-edge, cloud based platform. Upon appointment as a VCM you will be provided with a login that will allow you access to our customer's account and a brief on the task will be sent to you. During the VCM Application Process, you will be able to provide us with daily and hourly rates for various services. We will use this to agree with you what the rate is for each job in advance in the job brief.</p>
              <p>When we have a requirement, we will search our network of VCM's for the food safety professional(s) with the most relevant food category and food safety legislative experience and make an offer based on the job requirements. you can either accept, or decline the job based on the offers relevance to your experience. </p>
<p> Whilst there is no guarantee of work provided in this way, we do anticipate that there will be opportunity for our VCM's as our business grows. In the short term, being a part of our VCM Network will cost you no more than the time taken to complete your profile.</p>

          </div>

          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

            <app-common-contact-us></app-common-contact-us></div>
      </div>

  </div>
</section>
