<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<section class="innerbanner" id="serviceBanner">
  <div class="inneranner-content wow bounceInUp" data-wow-delay=".3s">
      <div class="innerbanner-box">
          <div class="service-banner-box">
              <div class="service-banner-content">
                  <div class="innerbanner-text-2 heading1 wow fadeInRight" data-wow-delay=".8s" style="text-align: center;">Foreign Food Facility Exporter Services</div>
              </div>
          </div>

      </div>
  </div>
</section>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp">Foreign Food Facility Exporter Services </h1>
              <img src="./assets/images/Foreign_Exporter.jpg">
              <h2>Our Foreign Food Facility Exporter Services</h2>
              <p><b>The introduction of the Food Safety Modernization Act (FSMA) has turned food safety compliance requirements on its head for exporters of food to the U.S.</b></p>

              <p>As stated by the FDA :</p>
              <br>
              <b><em>"All FDA-regulated products imported into the United States are required to meet the same laws and regulations as domestic goods. Imported foods must be pure, wholesome, safe to eat and produced under sanitary conditions and must contain informative and truthful labelling in English."</em></b>
              <p>As a result, all foreign food facilities are now required to re-register with the FDA every two years and produce food in a manner which meets the standards of the new FSMA Preventive Controls for Human and Animal Food regulations and new FSMA Produce Safety Rule.</p>
              <p>US Import Agent has a network of multi-lingual PCQI's who are all experts on FSMA Regulations. We provide guidance and support to foreign exporters in their native tongue to ensure FSMA requirements are met, ensuring your product reaches the US Market stress-free. </p>
              <p><b>We can help you with: </b></p>
              <br>
              <ul>
                <li><b>FDA Foreign Food Facility Registration</b></li>
                <li><b>FSVP Assessment and Guidance</b></li>
                <li><b>FSMA Agent Services for Nonresident Importers, Suppliers and Manufacturer</b></li>
                <li><b>US Label Review and Design</b></li>
                <li><b>Document Translation</b></li>
                <li><b>Importer of Record Services</b></li>
              </ul>
              <h2>Why Choose US Import Agent, Inc.?</h2>
              <p>We specialise in helping foreign companies outwith the USA export their products in a legal and complaint way. The USA food and beverage market is the largest in the world and has a driving desire for high quality, foreign produce. We can ensure your product arrives in the USA safely, promptly and without inspections or detention.</p>
              <p>Unlike other FSVP Agent services, US Import Agent is an affordable, state of the art solution that brings together cloud technology together with a <b>global network of qualified, vetted, multi-lingual food safety experts</b> to ensure that you and your suppliers, and the food products supplied, are <b>approved for import  of food products to the USA.</b> We will be your US Agent for FSVP purposes.</p>
              <br>
              <strong>Contact us below for a quotation, we think you will be pleasantly surprised by how affordable and comprehensive our service is.</strong>
              <br>
              <br>
              <button><a class="zpbutton-wrapper zpbutton zpbutton-type-warning zpbutton-size-md zpbutton-style-none " href="/contact"><span class="zpbutton-content">Contact us Today for a Quote</span>
              </a></button>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
