<!--Start Header And Banner -->
<section class="g-banner">
  <app-header></app-header>

</section>
<!--End Header And Banner -->

<app-common-banner></app-common-banner>

<!--Start Blog Section-->
<section class="g-section service-sec">
  <div class="g-container">
      <div class="service-row">
          <div class="service-content wow fadeInUp" data-wow-delay=".3s">
              <h1 class="wow fadeInUp" >Why You Need an FSVP Import Agent</h1>
              <p>If you are a food producer, processor or packer who exports food products to the USA and you
                  do not have a US based customer or 'consignee' who is willing to take legal responsibility
                  for FSVP (FDA's Foreign Supplier verification Program Final Rule) then you need the services
                  of an FSVP Import Agent.</p>

              <p>An FSVP Agent is required because there is a legal requirement to have a US based entity who
                  will assess the food safety compliance of foreign suppliers and the foods they export to the
                  United States.</p>

              <p>The purpose of this rule is to ensure that foods imported into the USA meet the same legal
                  food safety standards that US food producers and processors are expected to comply with.</p>

              <p>In this situation, it is likely to be more cost effective to use the services of US Import
                  Agent than it is to establish, and staff, an office in the USA to take care of this legal
                  requirement.</p>

              <p>US Import Agent is ideally placed to help with this requirement due to our extensive
                  experience in FDA compliance, our network of multi-lingual PCQI's (Preventive Control
                  Qualified Individuals) and our unique cloud technology solution, 3iVerify. We can help you
                  with all aspects of FSMA, FSVP and FDA compliance.</p>

          <app-common-how-we-can-help></app-common-how-we-can-help>
          </div>
          <div class="service-form wow fadeInUp" data-wow-delay=".4s">

          <app-common-contact-us></app-common-contact-us></div>

      </div>
  </div>
</section>
<!--End Blog Section-->
