<section class="g-banner">
  <app-header></app-header>
  <div class="g-banner-slider">
      <div class="g-slider" id="g-banner-slider">
          <div class="g-slider-item">
              <div class="g-slider-flex">
                  <div class="g-container">
                      <div class="ban-con">
                          <h1 class="heading g-banner--title">
                              Need a US FSVP Import Agent?
                          </h1>
                          <div class="banner-content-box">
                              <div class="banner-content-title">We will act as your US Agent for FSVP
                                  Purposes, Covering</div>
                              <div class="banner-content-desc">
                                  <div class="banner-content-row">
                                      <p>Low Cost FDA Registration</p>
                                      <p>US FDA Representation for Your Imports</p>
                                  </div>
                                  <div class="banner-content-row">
                                      <p>US Label Reviews & Assessments</p>
                                      <p>Handling of FDA Import Problems</p>
                                  </div>
                                  <div class="banner-content-row">
                                      <p>Low Cost and Professional FSVP Services</p>
                                  </div>
                              </div>
                          </div>

                          <a class="gbtn g-banner-btn ttu ff-medium br4t">
                              learn more</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="g-slider-item">
              <div class="g-slider-flex">
                  <div class="g-container">
                      <div class="ban-con">
                          <h1 class="heading g-banner--title">
                              FDA Foreign Food Facility Registration
                          </h1>
                          <div class="banner-content-box">
                              <div class="banner-content-title"> U.S. regulations mandates that all U.S.</div>
                              <div class="banner-content-desc">
                                  <div class="banner-content-row">
                                      <p>
                                          U.S. regulations mandates that all U.S. and foreign facilities that process, pack or
                                          hold human or animal food for consumption in the U.S. MUST register with the FDA as a
                                          Foreign Food Facility.</p>
                                  </div>

                              </div>
                          </div>

                          <a class="gbtn g-banner-btn ttu ff-medium br4t">
                              learn more</a>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!--End Header And Banner -->
<!--Start About us-->
<section class="g-section aboutus-section">
  <h1 class="heading1 abt-title g-container wow fadeInUp" data-wow-delay=".3s">FSVP (Foreign Supplier Verification Program) Requirements </h1>
  <div class="g-container-flex aboutus-section-row">
      <div class="aboutus-section-row-media wow fadeInLeft" data-wow-delay=".3s">
          <img src="./assets/images/about-img.png" alt="aboutus" />
      </div>
      <div class="aboutus-section-row-content wow fadeInRight" data-wow-delay=".3s">
          <div class="about-section-title ttc">The FDA's FSVP Final Rule for Importers of Food for Humans and
              Animals is now fully in force for all relevant food imports.</div>
          <p>This means that foreign suppliers of human and animal foods that export food to the USA need to
              produce foods "in a manner that meets applicable U.S. safety standards". Our expert team can
              help ensure your product is approved for entry into the USA and deal with FDA detention and
              rejection issues. we can be your US Agent for FSVP purposes.</p>
          <p>We believe it is critical to have PCQI's (Preventive Controls Qualified Individuals) who
              understand both food safety (for the relevant food categories imported) AND who have
              multi-lingual capabilities to communicate with, and assess, the food safety systems of foreign
              suppliers. This is the most cost effective way to comply with US FDA requirements without the
              need for expensive translations and duplication of documents by the foreign supplier.</p>

      </div>
  </div>
</section>
<!--End About us-->
<!--Start Services-->
<section class="g-section g-services">
  <div class="g-service-bg"></div>
  <div class="g-container relative z-10" id="containerbox">
      <h1 class="heading1 widthSlider white wow fadeInUp" data-wow-delay=".3s">
          <span>Our Services</span>
          <div class="clientSliderControl">
              <span id="leftControl2"><i class="fa fa-angle-left"></i></span>
              <span id="rightControl2"><i class="fa fa-angle-right"></i></span>
          </div>
      </h1>

  </div>
  <div class="gSlider  relative z-10">
      <div class="g-services-slider" id="g-services-slider">

          <div class="g-services-item">

              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">FSVP Agent Services</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      If you are a food producer, processor or packer who exports food products to the USA and
                      you do not have a US based customer or 'consignee' who is willing to take legal
                      responsibility for FSVP (FDA's Foreign Supplier verification Program Final Rule) then
                      you need the services of an FSVP Import Agent.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">Amazon Food Sellers</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      The FDA are now cracking down on the Foreign Supplier Verification Program after
                      numerous health scares associated with imported produce. If you are found to be lacking
                      an appropriate FSVP plan in line with the FDA's newest regulation FSMA Preventive
                      Controls for Human and Animal Food regulations and the FSMA Produce Safety Rule</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">FDA Foreign Food Facility Registration</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      U.S. regulations mandates that all U.S. and foreign facilities that process, pack or
                      hold human or animal food for consumption in the U.S. MUST register with the FDA as a
                      Foreign Food Facility.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">US Label Review Services</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      Food & Beverage labelling within the US is receiving an overhaul by the FDA & US
                      Government based on advancements and revelations within the nutritional science sector.
                      By 2020 (2021 for small businesses) your label MUST be compliant with the FDA's new
                      standards in order to be sold within the US market.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">FDA Import Alert Removal Service
                  </a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">

                      If you find your food or dietary supplement products on the Red List of an FDA Import
                      Alert then we can help have this removed.

                      If you are on the Red List, of an Import Alert, FDA will automatically 'Detain Without
                      Physical Examination' (DWPE) meaning that if you send this product to the US then it
                      will be detained and may be destroyed.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">IT Audit; Risk based audit for governance,
                      infrastructure and operations</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      Audit IT department in reference to COBIT 5, as well a risk based audit is conducted for
                      the significant risks facing IT operations and the key controls managing those risks.
                  </p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">Seafood HACCP Review</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      The Food and Drug Administration (FDA) final regulations to ensure the safe and sanitary
                      processing of fish and fishery products mandate the application of Hazard Analysis
                      Critical Control Point (HACCP) principles to the processing of seafood. </p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">US Import Agent Market Entry Plan</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      At US Import Agent, we are very aware that the cost of a foreign food company 'becoming
                      FDA compliant' is not trivial, especially for small businesses who wish to exhibit at a
                      trade show, sell on Amazon or those who just want to test the market.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">Low Acid Canned Foods (LACF) HACCP</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      Manufacturers of LACF are required to comply with the new training requirements in 21
                      CFR 117.4, which requires that individuals engaged in manufacturing, processing,
                      packing, or holding food (including temporary and seasonal personnel) and the
                      supervisors who oversee their activities</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>
          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">US Trade-show Services</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      Before exporting your product to the US, its always best to test the water for demand
                      and find some customers who want to buy or distribute your product. Trade-shows play a
                      vital part in introducing Food & Beverage products to the US market and gauging
                      popularity.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>

          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">Foreign Food Facility Exporter Services</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      The introduction of the Food Safety Modernization Act (FSMA) has turned food safety
                      compliance requirements on its head for exporters of food to the U.S.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>

          <div class="g-services-item">
              <div class="g-services-item-box">
                  <a href="#" class="g-service-title wow fadeInUp" data-wow-delay=".3s">Juice HACCP Plan Review</a>
                  <p class="transition wow fadeInUp" data-wow-delay=".4s">
                      The Food and Drug Administration (FDA) has regulations to ensure the safe and sanitary
                      processing of fruit and vegetable juices. The regulations mandate the application of
                      Hazard Analysis and Critical Control Point (HACCP) principles to the processing of these
                      foods. HACCP is a preventive system of hazard control.</p>

                  <a href="#" class="g-service-btn transition">
                      <span class="service-btn-txt">View More</span>
                      <i class="transition fa fa-long-arrow-right"></i>
                  </a>
              </div>
          </div>

          <div class="g-services-item" id="lastSlide"></div>

      </div>
  </div>
  <div class="g-container">
      <div class="service-progress"><span id="elem1"></span></div>
  </div>
</section>
<!--End Services-->
<!--Start Additional and Services-->
<section class="g-section g-traning-services">
  <div class="g-container">
      <h1 class="heading1 services-title wow fadeInLeft" data-wow-delay=".2s">Our Additional Services</h1>
      <div class="services-row">
          <div class="pattern"></div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/icon1.png" alt="" />
                  <span class="servicebox--tittle transition  wow fadeInUp" data-wow-delay=".3s">
                      FSVP Agent Services</span>
                  <span class="servicebox--desc transition  wow fadeInUp" data-wow-delay=".4s">
                      Product category assessments, FDA detention and liaison services, and prior notice
                      services</span>

              </a>
          </div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/ico2.png" alt="" />
                  <span class="servicebox--tittle transition  wow fadeInUp" data-wow-delay=".3s">
                      US Label Compliance Review</span>
                  <span class="servicebox--desc transition wow fadeInUp" data-wow-delay=".4s">
                      Full US label legal compliance review design and approvals or discounted nutritional
                      fact panel (NFP) reviews</span>

              </a>
          </div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/ico3.png" alt="" />
                  <span class="servicebox--tittle transition  wow fadeInUp" data-wow-delay=".3s">
                      FDA Registration</span>
                  <span class="servicebox--desc transition wow fadeInUp" data-wow-delay=".4s">
                      Quick and easy FDA food facility registration done professionally and at low
                      cost.</span>

              </a>
          </div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/ico4.png" alt="" />
                  <span class="servicebox--tittle transition  wow fadeInUp" data-wow-delay=".3s">
                      Foreign Exporter Services</span>
                  <span class="servicebox--desc transition wow fadeInUp" data-wow-delay=".4s">
                      We specialise in helping foreign exporters deal with FDA and FSVP compliance to reach
                      the US market</span>

              </a>
          </div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/ico5.png" alt="" />
                  <span class="servicebox--tittle transition wow fadeInUp" data-wow-delay=".3s">
                      FSVP for Trade shows</span>
                  <span class="servicebox--desc transition wow fadeInUp" data-wow-delay=".4s">
                      specialised FSVP assessments specifically for trade show exhibitors at a discounted
                      cost</span>

              </a>
          </div>
          <div class="services-col">
              <a href="#" class="services-box">
                  <img class="servicebox--icon wow fadeInUp" data-wow-delay=".2s" src="./assets/images/ico6.png" alt="" />
                  <span class="servicebox--tittle transition wow fadeInUp" data-wow-delay=".3s">
                      HACCP Plan Review</span>
                  <span class="servicebox--desc transition wow fadeInUp" data-wow-delay=".4s">
                      Full HACCP plan reviews of Seafood, low acid canned food and fruit and vegetable
                      juices</span>

              </a>
          </div>
      </div>
  </div>
</section>
<!--End Additional and Services-->
<section class="g-section home-contact">

  <div class="g-container">
      <div class="auth-form">
          <h1 class="auth-form-title heading1 wow fadeInUp" data-wow-delay=".3s">Make An Appointment</h1>
          <div class="auth-form-fields wow fadeInUp" data-wow-delay=".4s">
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Your Name</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>

              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Email</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Phone Number</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>

              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <input type="text" class="auth-field-control" />
                          <label class="auth-field-label transition">Company Name</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <select class="auth-field-control" >
                              <option></option>
                              <option>India</option>
                          </select>
                          <label class="auth-field-label transition">Country</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>

              <div class="checkbox-selection auth-form-row">
                  <div class="auth-control">
                      <div class="checlbox-title"> Services Required </div>
                      <div class="checkbox-box">
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="01">
                              <label for="01" class="checkbox-label">FDA food facility registration
                                  service</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="02">
                              <label for="02" class="checkbox-label">Foreign Supplier Verification Program
                                  (FSVP) Assessment</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="03">
                              <label for="03" class="checkbox-label">FSVP Agent service (per shipment)</label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="04">
                              <label for="04" class="checkbox-label">US Legal Label Review </label>
                          </div>
                          <div class="checkbox-row">
                              <input type="checkbox" class="checkbox" id="05">
                              <label for="05" class="checkbox-label">FDA detention / liaison service</label>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="auth-form-row">
                  <div class="auth-control">
                      <div class="auth-form-field">
                          <textarea class="auth-field-control"></textarea>
                          <label class="auth-field-label transition">Additional Message</label>
                      </div>
                      <div class="auth-form-field-error" style="display: none;">Required field</div>
                  </div>
              </div>

              <div class="form-btn-row">
                  <button type="submit" class="auth-submit gbtn auth-btn br4 ttu">
                      <span class="auth-submit-text ">Send Query</span>
                  </button>
              </div>


          </div>
      </div>
  </div>
</section>
